body {
    display: block;
    position: relative;
}

body::after {
    background-image: url("../img/Logo-Motionn2.png");
    background-size: cover; 
    background-attachment: fixed;
    content: "";
    opacity: 0.09;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

/* shapka */

.motion{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  position: relative;
  overflow: hidden;
  color: #fff;
  text-shadow: 
  1px 1px 0px #eddfda,
  2px 2px 0px #e3d2cc,
  3px 3px 0px #d6c3bc,
  4px 4px 0px #ccb7af,
  5px 5px 0px #bda39b,
  6px 6px 0px #ad958c,
  7px 7px 0px #a68c83;
  /* 8px 8px 0px #997d74,
  9px 9px 0px #8c7168,
  10px 10px 0px #7d6259,
  15px 15px 25px rgba(0,0,0,0.9); */
  transition: .4s ease-in-out;
}

.motion:hover {
  text-shadow: 
  -1px 1px 0px #eddfda,
  -2px 2px 0px #e3d2cc,
  -3px 3px 0px #d6c3bc,
  -4px 4px 0px #ccb7af,
  -5px 5px 0px #bda39b,
  -6px 6px 0px #ad958c,
  -7px 7px 0px #a68c83;
  /* -8px 8px 0px #997d74,
  -9px 9px 0px #8c7168,
  -10px 10px 0px #7d6259,
  -15px 15px 25px rgba(0,0,0,0.9); */
}

.contact{
  font-family: 'Poppins', sans-serif;
}

h4, h5, h6{
  position: relative;
  color: #fff;
  text-shadow: -10px 10px 20px rgba(0,0,0,.1); 
  /* font-size: 12em; */
  line-height: 1em
}

h4:hover{
  text-shadow: -1px 1px 0px rgba(0,0,0,1), 1px -1px 0px rgba(0,0,0,1);
}

.client{
  margin-top:10px;
	border: #ff0000;
  border-radius: 5px;
}

.client-align{
  vertical-align: middle;
}

.hovereffect {
	border: #ff0000 mediumvioletred;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(231, 21, 21, 0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0,0,0,0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

/* Big pic effect */

.b-hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.b-hovereffect .b-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.b-hovereffect img {
  display: block;
  position: relative;
}

.b-hovereffect h2 {
  text-transform: uppercase;
  color: #FF0000;
  text-align: center;
  font-size: 80px;
  padding: 10px;
}

.b-hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.b-hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.b-hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.b-hovereffect hr {
  width: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 3px solid #FF0000;
}

.b-hovereffect  hr:nth-child(3) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
}

.b-hovereffect  hr:nth-child(4) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,180deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1, 180deg) scale3d(0,0,1);
}

.b-hovereffect h2, 
.b-hovereffect hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
}

.set1, .set2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.set1 {
  top: 40%;
}

.set2 {
  top: 60%;
}

.b-hovereffect p {
  width: 30%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.b-hovereffect p a {
  color: #fff;
}

.b-hovereffect p a:hover,
.b-hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.b-hovereffect  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 10px;
  font-size: 60px;
}

.set1 a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0);
  transform: translate3d(-60px,-60px,0);
}

.set1 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0);
  transform: translate3d(60px,-60px,0);
}

.set2 a:first-child i {
  -webkit-transform: translate3d(-60px,60px,0);
  transform: translate3d(-60px,60px,0);
}

.set2 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,60px,0);
  transform: translate3d(60px,60px,0);
}

.b-hovereffect:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
}

.b-hovereffect:hover hr:nth-child(4) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
}

.b-hovereffect:hover .set1 i:empty, .b-hovereffect:hover .set2 i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  filter: alpha(opacity=100);
}
/* --------------------------------- */
/* .effect{
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.effect:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.effect img{
  position: absolute;
}

.title {
  top:40%;
  position: absolute;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}

.effect:hover .title {
  top: 20%;
}

.btnD {
  top: 100px;
  width: 100%;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: opacity .35s ease;
}

.effect:hover .btnD {
  opacity: 1;
} */

/* Navbar */
.own-color {
    background-color: #FF0000 !important;
    height: 30%;
}

/* Background transparantie */
.inner{
    overflow: hidden;
}

.inner img{
    transition: all 0.2s ease;
}

.inner:hover img{
    transform: scale(1.2);
}

/*
Carousel
*/
.carousel-control-prev-icon{
  height: 50px;
  width: 50px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  background-color: none;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.custom-carousel{
    position: relative;
}

/* .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background-color: #080d15; */
    /* opacity: .7;
} */

/* .slider-area .carousel-inner .carousel-item{
    height: 40vh;
} */

.own-caption{
    padding-bottom: 100px;
}

@-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(1, 1);
    }
    to {
      -webkit-transform: scale(1.2, 1.2);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.2, 1.2);
    }
  }
  
  .carousel-inner .carousel-item.active > img {
    -webkit-animation: zoom 1s forwards;
    animation: zoom 1s forwards;
  }

  /* car ---------------------- */
  /* @keyframes circle {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(6)
    }
}
.circle {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 20px solid #FF0000;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  left: 40%;
}
.one {
  animation: circle 4s infinite linear;
}
.two {
  animation: circle 3s infinite linear;
}
.three {
  animation: circle 2s infinite linear;
} */



/* car-------------------------------------- */

@keyframes driving {
  0% {
      left: -25%;
  }
  10% {
      bottom: 0%;
  }
  20% {
      transform: scale(0.5) rotateZ(5deg);
      bottom: 5%
  }
  25% {
      transform: scale(0.5) rotateZ(0deg);
  }
  40% {
      transform: scale(0.5) rotateZ(5deg);
  }
  
  50% {
      transform: scale(0.5) rotateZ(0deg);
  }

  100% {
      left: 70%;
      bottom: 0%;
      transform: scale(0.5) rotateZ(0deg);
  }
}

@keyframes wheelsRotation {
  100% {
      transform: rotate(360deg);
  }
}
/*   CAR CONTAINER   */

.car-container {
  position: absolute;
  bottom: 0%;
  width: 430px;
  height: 300px;
  animation: driving 5s infinite linear;
  transform: scale(0.5);
}
.car-container:after {
  content: "";
  width: 426px;
  height: 1px;
  margin-top: 88px;
  display: block;
  position: absolute;
  left: -3%;
  z-index: -1;
  bottom: 0;
  box-shadow: 2px -15px 25px 2px #000000;
}
/*   WHEELS   */

.wheel1,
.wheel2 {
  width: 120px;
  height: 120px;
  background-color: grey;
  border-radius: 50%;
  border: 20px solid black;
  position: absolute;
  bottom: 0;
  animation: wheelsRotation 1s infinite linear;
}
.wheel1 {
  left: 5%;
}
.wheel1-top,
.wheel2-top {
  bottom: 48px;
  position: absolute;
  width: 106px;
  height: 80px;
  border-radius: 50%;
  z-index: 5;
  box-shadow: 0px 13px 3px 0px rgba(240, 240, 240, 0.53);
  transform: rotateX(180deg);
}
.wheel1-top {
  left: 7%;
}
.wheel2-top {
  right: 7%;
}
.wheel2 {
  right: 5%;
}
.wheel-dot1,
.wheel-dot2 {
  width: 10px;
  height: 25px;
  background-color: black;
  position: absolute;
}
.wheel-dot3,
.wheel-dot4 {
  width: 25px;
  height: 10px;
  background-color: black;
  position: absolute;
}
.wheel-dot1 {
  top: 10%;
  left: 45%;
}
.wheel-dot2 {
  bottom: 10%;
  left: 45%;
}
.wheel-dot3 {
  top: 45%;
  right: 10%;
}
.wheel-dot4 {
  top: 45%;
  left: 10%;
}
.door {
  width: 110px;
  height: 100px;
  border: 3px solid #B57A84;
  position: absolute;
  left: 36%;
  top: 16px;
  border-radius: 10% 40% 10% 10%;
}
.door-knob {
  width: 30px;
  height: 14px;
  background-color: #E8E6E6;
  border-radius: 30%;
  position: absolute;
  left: 20%;
  top: 5%;
  border: 1px solid lightcoral;
}
.car-top1 {
  border-radius: 25% 40% 0 0;
  background-color: #6A1621;
  max-width: 100%;
  width: 250px;
  height: 130px;
  position: absolute;
  top: 0;
  left: 4%;
}
.window1,
.window2 {
  background-color: #E2F0F6;
  border-radius: 5px;
  position: absolute;
  width: 40%;
  height: 60%;
  margin: 17px;
  border: 9px solid #BF6D7B;
}
.window1 {
  left: 0;
  border-top-left-radius: 30%;
}
.window2 {
  right: 0;
  border-top-right-radius: 50%;
}
.car-top2 {
  border-radius: 100px 200px 0 0;
  background-color: #25659C;
  border: 10px solid #72252F;
  background-color: #9C2535;
  max-width: 100%;
  width: 430px;
  height: 140px;
  position: absolute;
  bottom: 20%;
}

/*Headlights*/
.car-top1:after {
width: 13px;
height: 37px;
background-color: #BACCDA;
position: absolute;
bottom: -63px;
right: -168px;
z-index: 10;
content: " ";
border-radius: 10px;
border: 2px solid black;
border-left-style: none;
transform: rotate(-15deg);
}

.car-top2:after {
position: absolute;
bottom: 7px;
right: -340px;
content: " ";
width: 0;
height: 0;
border-top: 20px solid transparent;
border-bottom: 80px solid transparent;
border-right: 500px solid rgba(191,188,87,0.7);
z-index: -1;
-webkit-mask-box-image: -webkit-linear-gradient(left, black, transparent);
-webkit-mask-box-image: -o-linear-gradient(left, black, transparent);
-webkit-mask-box-image: linear-gradient(to right, black, transparent);
transform: rotate(-9deg);
}
/* car ---------------------*/


/* blij anime */


/* .a-container {
  background-color: transparent;
  text-align: center;
  position: absolute;
  background-color: transparent;
  top: 90%;
  left: 50%;
  transform: translate(-5%, 10%);
} */

/* .a-container span {
  text-transform: uppercase;
  display: block;
}

.text1 {
  color:#FFFA00;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 8px;
  background: transparent;
  position: relative;
  animation: text 2s 1;
  animation-iteration-count: infinite;
}

.text2 {
 text-align: right;
  color:#FFFA00;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 5px;
  position: relative;
  animation: text 3s 1;
  animation-iteration-count: infinite;
}

@keyframes text{
  0%{
    color:#FF0000;
  }

  30%{
    letter-spacing:25px;
    margin-bottom: 10px;
  }

  85%{
    letter-spacing: 8px;
    margin-bottom: 10px;
  }
} */

.footer-contact{
  font-display: none;
  color: #FF0000;
}

